@media screen and (max-width: 1649px){
  .cus-container{
    max-width: 1240px;
  }
  .header .headerwrap .rthd .rqBtn a {
    font-size: 16px;
    padding: 14px 19px;
  }
  .fsliderdesc a,
  .rental-serviceWrap .btn-sec a,
  .masonry .brick .brickBtn a{
    font-size: 16px;
    padding: 14px 60px;
  }
  .stellarnav ul li{
    margin: 0 30px 0 0;
  }

  .common-sliderWrap {
      max-width: 1350px;
  }

  .fsliderdesc h2{
    font-size: 46px;
    margin: 0 0 20px;
  }

  .fsliderdesc {
    padding: 0 40px 0 0;
  }
  .fsliderdesc p{
    font-size: 16px;
    margin: 0 0 30px;
  }

  .furnitureBox .text p{
    font-size: 26px;
  }

  .furnitureBox .text a{
    width: 40px;
    height: 40px;
    font-size: 24px;
  }

  .furnitureBox .text{
    padding: 10px;
  }

  .productTab .nav-tabs .nav-item .nav-link{
    font-size: 18px;
    padding: 12px 16px;
  }
  .tabProBox .text{
    padding: 10px 0;
  }
  .tabProBox .text p{
    font-size: 18px;
  }
  .rental-serviceBox h4{
    font-size: 34px;
  }
  .rental-serviceBox{
    padding: 40px 30px;
  }
  .rental-serviceBox p{
    font-size: 16px;
  }

  .testimonialBoxWrap p{
    font-size: 38px;
    max-width: 1120px;
  }
  .blogBox .text .info p{
    font-size: 18px;
  }
  .ftBoxWarp .ftBox ul li {
    margin: 0 0 10px;
  }
  .footer .specialBox ul{
    max-width: 140px;
  }
  .copyrightSec ul li a{
    font-size: 14px;
  }
}
@media screen and (max-width: 1680px){
  .siteTtl{
    font-size:50px;
  }
  .sitePara{
    font-size: 18px;
  }

  .siteTtlsm{
    font-size: 36px;
  }
  .siteParasm{
    font-size: 16px;
  }
}
@media screen and (max-width: 1366px){
  .common-sliderWrap {
    max-width: 1266px;
  }
  .siteTtl{
    font-size:46px;
  }
  .sitePara{
    font-size: 16px;
  }
  

}